body {
    background: #C70039 !important;
    background-image: url("cerca.png");
    background-repeat: repeat-x;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 1px;
    margin-bottom: 1px;
    position: relative;
    text-align: center;
}
p{
    text-align: center;
    font-size: 24px;
}
p, .dayInfo{
    color:aliceblue;
}
.clock{
    font-size: 36px;
    font-family:'digital-7';
    width:75%;
}
.display {
    background-color: #17A630  ;
}
.logo {
    max-height: 150px;
    max-width: 150px;
}

.totalCycle{
    max-height: 80px;
    max-width: 80px;
}

@font-face {
    font-family: 'digital-7';
    src: url('digital-7.ttf');
}

div {
    padding: 3px;
}
.counter {
    color:aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    transform: translate(-50%, -50%);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #17A630  ;
    color: white;
    text-align: center;
  }
